version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8080"
    environment:
      - DB_ADDR=db:6379      
      - DB_PASS=            
      - API_QUOTA=10        
      - DOMAIN=localhost:8000
      - APP_PORT=8080
    depends_on:
      - db

  db:
    build: ./db
    ports:
      - "6379:6379"
    volumes:
      - data:/data

volumes:
  data: